@mixin small-screen {
    @media (max-width: 700px) {
        @content;
    }
}

// Cross-browser animation mixins from https://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

// TODO:
// Create animation to fade in from display none and fade out to display none for nav bar
// https://stackoverflow.com/questions/8449933/animation-css3-display-opacity

$content-width: 140rem;
$navbar-height: 5rem;

$font-size-large: 1.5rem;
$font-size-normal: 1.3rem;
$font-size-small: 1.1rem;

$secondary-background-color: lightgray;

@include keyframes(fadeInFromNone) {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}